@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
	padding: 0;
	margin: 0;
  background:#f4f4f4;
  overflow-x: auto;
  overflow-y: auto;
}
html,h1,h2,h3,h4,h5,h6,a{
	font-family: "Raleway";
}
.navbar{
	background:#7300F9;
}
.nav-link , .navbar-brand{
	color: #f4f4f4;
	cursor: pointer;
}
.nav-link{
	margin-right: 1em !important;
}
.nav-link:hover{
	color: #7300f9;
}
.navbar{
	background:#7300F9;
}
.navbar-collapse{
 justify-content: flex-end;
}


.description h4{
	color:#7300F9 ;
}
.description h2{
	color:#7300F9 ;
}

.description p{
	color:#666;
	font-size: 14px;
	width: 50%;
	line-height: 1.5;
}
.description button{
	border:1px  solid #7300F9;
	background:#7300F9;
	color:#fff;
}
.files input {
outline: 2px dashed #92b0b3;
outline-offset: -10px;
-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
transition: outline-offset .15s ease-in-out, background-color .15s linear;
padding: 120px 0px 85px 35%;
text-align: center !important;
margin: 0;
width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag and drop it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
.input-table, .review-table {
	text-align: center;
	border-color: grey;
}
.review-table {
  width: 100%;
  }
  .review-table tbody {
	height: 220px;
	overflow-y: auto;
	width: 100%;
  }
  .review-table thead, .review-table tbody, .review-table tr, .review-table td, .review-table th {
	display: block;
  }
  .review-table tbody td {
	float: left;
  }
  .review-table thead tr th {
	float: left;
	background-color: #66ccff;
  }
  .review-table > thead >tr {
	  padding-right: 17px;
  }