@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
	padding: 0;
	margin: 0;
	background:#f4f4f4;
}
html,h1,h2,h3,h4,h5,h6,a{
	font-family: "Raleway";
}
.navbar{
	background:#7300F9;

}
.nav-link , .navbar-brand{
	color: #f4f4f4;
	cursor: pointer;
}
.nav-link{
	margin-right: 1em !important;
}
.nav-link:hover{
	background: #f4f4f4;
	color: #7300f9;

}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}


.description{
    position: absolute;
    top: 8%;
    margin: auto;
    padding: 2em;
}
.description h4{
	color:#7300F9 ;
}
.description h2{
	color:#7300F9 ;
}

.description p{
	color:#666;
	font-size: 14px;
	width: 50%;
	line-height: 1.5;
}
.description button{
	border:1px  solid #7300F9;
	background:#7300F9;
	color:#fff;
}