<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

</head>
<body>
<p>Legend: <label id="legend">Legend text</label></p>
<p> "s" - skip, "space" - save and next</p>
<p>images left: <lable id ="images_left">0</label><p>

<canvas id="canvas" width="{{width}}" height="{{height}}"></canvas>


    <script >

    type="";
    imageName="";
    application="{{application}}";

    function httpGet(theUrl)
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
        xmlHttp.send( null );
        return xmlHttp.responseText;
    }

    function httpPost(theUrl,str)
    {
        var client = new XMLHttpRequest();
        var xmlHttp = new XMLHttpRequest();
        client.open( "POST", theUrl, true ); // false for synchronous request
        client.setRequestHeader("Content-Type", "application/json");
        client.send(str);
        return xmlHttp.responseText;
    }
    function getLegend(types)
    {
	var s="";
	for(var i=0;i<types.length;i++)
	{
		s+=(i+1).toString()+" - "+types[i]+";  ";
	}
	return s;
    }

    var canvas = document.getElementById('canvas');
    ctx = canvas.getContext('2d');
    rects = new Array();
    types=new Array();
    rects_types=new Array();
    drag=false;

    var imageObj = new Image();

    function init() {
      canvas.addEventListener('mousedown', mouseDown, false);
      canvas.addEventListener('mouseup', mouseUp, false);
      canvas.addEventListener('mousemove', mouseMove, false);
    }

    function mouseDown(e) {
      rect={}
      rect.startX = e.pageX - this.offsetLeft;
      rect.startY = e.pageY - this.offsetTop;
      rect.w=1;
      rect.h=1;
      rects.push(rect);
      rects_types.push(type);
      drag = true;
    }

    function mouseUp() {
      drag = false;


    }
    function draw(rects,types,type)
    {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.drawImage(imageObj, 0, 0);
        ctx.beginPath();
        ctx.font = "30px Arial";
        ctx.fillStyle = 'green';
        ctx.fillText(type,30,50);
        ctx.stroke();


        for(var i=0;i<rects.length;i++)
        {
            ctx.beginPath();
            ctx.lineWidth=3;
            ctx.font = "20px Arial";

            ctx.strokeStyle = 'red';
            ctx.fillStyle = 'red';
            


            ctx.fillText(types[i],rects[i].startX+5,rects[i].startY+20);
            ctx.rect(rects[i].startX,rects[i].startY, rects[i].w, rects[i].h);
            ctx.stroke();
        }


    }
    function mouseMove(e) {
      if (drag) {
        rects[rects.length-1].w=(e.pageX - this.offsetLeft) - rects[rects.length-1].startX;
        rects[rects.length-1].h=(e.pageY - this.offsetTop) - rects[rects.length-1].startY;
        draw(rects,rects_types,type);
      }
    }
    function saveAndNext(imageName,rects,types)
    {
        res={};
        res.imageName=imageName;
        res.rects=rects;
        res.types=types;
        str=JSON.stringify(res);

        console.log(httpPost('/save/'+application,str));

    }

    document.onkeydown = function(evt) {
        evt = evt || window.event;
	console.log(evt.keyCode);
	if ((evt.keyCode>=49) &&(evt.keyCode<49+types.length))
	{
		type=types[evt.keyCode-49];
		draw(rects,rects_types,type);

	}
        if (evt.keyCode==67)  //C
        {
            rects.length=0;
            types.length=0;
            draw(rects,rects_types,type);
        }
        if (evt.keyCode==83)  //S
        {
            document.location.reload(true);
        }
        if (evt.keyCode==32)//space
        {
            saveAndNext(imageName,rects,types);
            document.location.reload(true);
        }
    };

    init();

      var canvas = document.getElementById('canvas');
      var context = canvas.getContext('2d');



      
      imageName= httpGet('/'+application+'/get_random_pic_name');
      imageObj.src =imageName;

	types=JSON.parse(httpGet('/'+application+'/get_config/types'));
	type=types[0];
	document.getElementById('legend').innerHTML=getLegend(types);
	document.getElementById('images_left').innerHTML=httpGet('/'+application+'/get_left_images');

	imageObj.onload = function()
      {
        draw(rects,rects_types,type);
      };

    </script>
  </body>

</body>
</html>