<!-- navbar -->
  <nav class="navbar navbar-expand-sm fixed-top navbar-dark">
	<a class="navbar-brand mb-0 h1" href="#">Rembrain</a> 
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse " id="navbarSupportedContent">
	    <ul class="navbar-nav mr-4">
	      <li class="nav-item">
	        <a class="nav-link "  href="/markup/{{application}}">Markup</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link " href="/review/{{application}}">Supervising</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link " href="/upload/{{application}}">Upload</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link " href="/input/{{application}}">
	        Input</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link " href="/log{{log_in_or_out}}">Log {{log_in_or_out}}</a>
	      </li>
	    </ul>
	    
	</div>
   </nav>
