<!DOCTYPE html>
<html lang="en">
<head>
    <title>Select a user</title>
    {% include "header.html" %}
</head>
<body>
{% include "nav_bar.html" %}
<!-- <div class="description"> -->
<div class="container">
  <div class="row" style="padding-top: 100px;">
    <div class="col-md-8 offset-md-2">
      <p>Select a user to review:</p>
      <form action="/review/{{application}}" method="post" id="form">
        <div class="form-group input-group">
          <select class="custom-select form-control" name="select_user" id="select_user">
              {% for user in users %}
              <option value= "{{user}}" {%if user == cur_user%} selected{%endif%}>{{user}}</option>
              {% endfor %}
          </select>
          <div class="input-group-append">
            <input class="btn btn-outline-secondary" type="submit" value="Review">
          </div>
        </div>
      </form>
      <p>Current user to review: {{cur_user}} <p>
      <p>Marked files: {{files|length}}</p>
      <p><a href="/review/del_all_samples_for_user/{{application}}/{{output}}" onclick="return confirm('Are you sure you would like to delete all processed samples of a chosen user?')">Delete them all for the user</a></p>
      <table class="table table-bordered table-hover review-table">
        {% if files | length > 0 %}
        <thead>
          <tr>
            <th class="col-sm-1">No</th>
            <th class="col-sm-8">File Name</th>
            <th class="col-sm-1">Show</th>
            <th class="col-sm-2">Delete</th>
          </tr>
        </thead>
        <tbody class="table-active">
        {% for fn in files %}
          <tr>
            <td class="col-sm-1">{{loop.index}}</td>
            <td class="col-sm-8">{{fn}}</td>
            <td class="col-sm-1"><a href="/review/{{application}}/{{output}}/{{fn.split('.')[0]}}"><i class="fas fa-eye"></i></a> </td>
            <td class="col-sm-2"><a href="/review/del_sample/{{application}}/{{output}}/{{fn.split('.')[0]}}"><i class="fas fa-trash-alt"></i></a></td>
          </tr>
        {% endfor %}
        </tbody> 
        {% else %}
        <thead>
          <tr style="padding-right: 0px;">
            <th class="col-sm-1">No</th>
            <th class="col-sm-8">File Name</th>
            <th class="col-sm-1">View</th>
            <th class="col-sm-2">Delete</th>
            </tr>
          </thead>
        <tbody class="table-warning" style="height: 50px;">
          <tr><td class="col-sm-12">There is no data to show</td></tr>
        </tbody>
        {% endif %}
      </table> 
    </div>
  </div>
</div>
</body>
</html>
